$oragne: #F78A1E;
$grey: #EAEDED;
$grey2: #9B9B9B;
$blue: rgb(19,25,33);
$blue2: #0e7efe;
$blue3: #4410ff;
$blue4: #badaff;
$white: #ffffff;
$black: #000000;
$purple: #644BA0;
$success: #6EBD28;
$red: #ff0000;