@import "../../styles/shared-styles.scss";

.mobile {
  width: 100%;
  height: 60px;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 0 20px;

  @include media(">=tablet") {
    display: none;
  }

  &__logo {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
}

.navbar {
  width: 100%;
  height: 100px;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  display: flex;

  @include media("<=tablet") {
    display: none;
    width: 0;
  }

  &_left {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;

    &__logo {
      width: 144px;
      margin-right: 168px;
    }

    &__input {
      width: 400px;

      button {
        background: #39cdcc;
      }
    }
  }

  &_right {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 66px;

    p {
      font-weight: 400;
      font-size: 16px;
      text-decoration-line: underline;
      color: #213f7d;
      margin-right: 50px;
    }

    &__notification {
      margin-right: 33px;
    }

    &__info {
      display: flex;
      margin-left: 10px;
    }
  }
}
