.dasboardPage {
  width: 100%;

  h2 {
    font-weight: 500;
    font-size: 24px;
    color: #213f7d;
    margin-bottom: 40px;
  }

  &_card {
    display: flex;
    justify-content: space-between;
    gap: 26px;
  }

  &_table {
    margin-top: 40px;
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 30px;
    height: 440px;
    overflow-y: scroll;
    height: 640px;
  }
}
